/*=============================================
  ____  _____ _______        _     _
 |  _ \|  __ \__   __|      | |   (_)
 | |_) | |  | | | | ___  ___| |__  _  ___  ___
 |  _ <| |  | | | |/ _ \/ __| '_ \| |/ _ \/ __|
 | |_) | |__| | | |  __/ (__| | | | |  __/\__ \
 |____/|_____/  |_|\___|\___|_| |_|_|\___||___/

 !------- We Convert IDEAS into REALITY ------!

 =============================================*/

@import 'https://fonts.googleapis.com/css?family=Abel';
@import url('https://cdn.rawgit.com/musafirshahid/bangla-web-fonts/ekushey-lohit/stylesheet.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* a:hover {
    text-decoration: none;
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
body {
    font-family: 'Ekushey Lohit', 'Abel', sans-serif;
    font-style: normal;
}
.logo {
    width: 50px;
}
.navbar-nav li a {
    font-size: 1em;
}
.landing {
    color: #FAFAFA;
    text-shadow: 0 0 5px #222;
    min-height: 100vh;
    text-align: center;
    background: url('../img/landing.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
.about {
    padding: 3em 0;
    font-size: 1.3em;
}
.product-category {
  padding-bottom: 3em;
    background-attachment: fixed;
    text-align: center;
}
.single-cat {
  border: 1px solid #999;
    background: #fafafa;
    padding: 1em;
}
.gallery {
    padding: 3em 0;
}
.about-content {
    padding-top: 2em;
}
.bordered-title {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #999;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-size: 1.2em;
}
.bordered-title span {
    background: #fafafa;
    padding: 0 10px;
}
.single-p h3 {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    color: #404751;
    padding: 0.3em 0.5em;
}
.feedback {
  margin: 3em 0;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}


.fill {
    width: 100%;
    height: 100vh;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.carousel-control.left, .carousel-control.right{
    background: none !important;
    filter: progid:none !important;>
}

/* Background images are set within the HTML using inline CSS, not here */

.quote-slide {
    width: 100%;
    min-height: 200px;
    padding: 2em 3em;
    text-align: center;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.feedback .carousel-control,
.feedback .carousel-indicators {
  display: none;
}


.contact {
    padding: 3em 0;
    padding-top: 0;
}
.contact input {
    width: 100%;
    padding: 0.75em;
    border: none;
    background: #FAFAFA;
    color: #404751;
    border-radius: 0;
    font-size: 1.2em;
}

.email {
  border: 1px solid #999;
}

.contact .sbtn {
    border-left: 1px solid #999;
    transition: all ease-in-out 0.5s;
}

.contact .sbtn:hover {
  background: #404751;
  color: #fafafa;
}

.social {
    text-align: center;
}
.fb, .twitter {
    display: block;
    padding: 0.75em;
    width: 100%;
    color: #404751;
    font-size: 1.2em;
    transition: all ease-in-out 0.5s;
    border: 1px solid #999;
    background: #fafafa;
}

.fb {
  border-left: none;
  border-right: none;
}

.fb:hover {
    background: #46629E;
}
.twitter:hover {
    background: #1DA1F2;
}
.fb:hover, .twitter:hover {
    color: #FAFAFA;
}

.footer {
  border-top: 1px solid #e7e7e7;
}

.footer p {
    margin: 0;
    font-size: 1.2em;
    padding: 0.6em 0 0.5em 0;
}
